
@media screen and (min-width:768px) {
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }
    .hero h1{
        font-size: 7rem;
    }
    #projects .project-item{
        flex-direction: row;
    }
    #projects .project-item:nth-child(even){
        flex-direction: row-reverse;
    }
    #projects .project-item{
        height: 300px;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    #projects .all-projects .project-img{
        width: 100%;
    }
    #about .about{
        /* flex-direction: row; */
    }
    #about .col-left{
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after{
        left: 40px;
        /* right: 40px; */
        top: 34px;
        height: 93%;
        width: 70%;
        border: 10px solid orangered;
    }
    #about .col-right{
        text-align: left;
        padding: 30px;
    }
}
@media screen and (min-width:1200px) {
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.5rem;
    }
    #header .nav-list ul li a::after{
        display: none;
    }
}